* {
  background-color: white;
}

.App {
  display: flex;
  flex-direction: row;
}

.navlist li {
  list-style: none;
  display: inline;
  margin-left: 5%;
}

.navlist {
  text-decoration: none;
}

.books-main {
  margin-top: 10%;
  margin-left: -20%;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  height: 30px;
}

#book-title {
  width: 250px;
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin-left: 5%;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.Books {
  font-family: Montserrat;
  font-size: 1rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.Categories {
  margin-left: 10%;
  height: 1rem;
  font-family: Montserrat;
  font-size: 1rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.List {
  border: 1px solid black;
  margin-top: 1%;
  list-style: none;
}

.book-title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

